---
import { Image } from "astro:assets";
import Author from "./Author.astro";
import type { Props } from "../types";

const { data }: Props = Astro.props;
---

<article>
  <img src={data.hero} alt={data.title} />
  <div class="content"></div>
  <p class="badge">{data.category}</p>
  <p class="title">{data.title}</p>
  <p class="description">{data.description}</p>
  <Author name={data.author.name} avatar={data.author.avatar} time={data.time} />
</article>

<!-- <div class="card-container">
  <div
    class="w-[425px] h-[575px] rounded-br-4xl rounded-bl-sm rounded-tl-sm rounded-tr-sm bg-zinc-600 overflow-hidden"
  >
    <div class="hero-image-container">
      <Image
        src={balloon}
        alt=""
        width="499"
        height="338"
        fetchpriority={"high"}
        class="image"
      />
    </div>
    <h1>{data.title}</h1>
    <h3>{data.author.name}</h3>
    <p>{data.description}</p>
  </div>
</div>

<style>
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-image-container {
    width: 425px;
    height: 263px;
    overflow: hidden;
  }

  .image {
    width: 499px !important;
    height: 338px !important;
    margin-left: -71px !important;
    margin-top: -27px !important;
    object-fit: cover !important;
  }
</style> -->
